html,body {
  margin: 0;
  padding: 0;
}

#demoList {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 250px;
  border-right: 1px solid #DDD;
  overflow: scroll;
}

.demoItem:hover {
  cursor: pointer;
}

.demoItem > .text {
  text-transform: capitalize;
}

#openSource {
  position: absolute;
  right: 15px;
  top: 15px;
}

#deviceFrame {
  position: absolute;
  top: 0px;
  right: 230px;
  content: "";
  background: url("../images/IPhone_5.png");
  background-size: 100% 100%;
  width: 423px;
  height: 810px;
}

#deviceContent {
  height: 568px;
  width: 320px;
  margin-top: 122px;
  margin-left: 53px;
  background-color: #F8F8F8;
}

@media (max-width: 600px) {
  #deviceFrame {
    display: none;
  }
  #demoList {
    width: 100%;
    position: relative;
  }
  body:after {
    content: 'simplePage';
    display: none;
  }
}